<li class="a-friend deletable">
	<div class="avatar"><img src="/avatar.php?id={{ID}}"></div>
	<div class="datos">
		<div class="nombre">{{NOMBRE}}</div>
		<div class="email">{{EMAIL}}</div>
	</div>
	<div class="buttons">
		<label class="custom-checkbox">
			<input type="checkbox" form="create-chat-form" name="members[]" value="{{ID}}">
			<span class="checked"><i class="fa fa-check-square-o"></i></span>
			<span class="unchecked"><i class="fa fa-square-o"></i></span>
		</label>
		<form action="ajax.php" method="post" class="confirmable delete-parent">
			<input type="hidden" name="action" value="blockFriend">
			<input type="hidden" name="friend_id" value="{{ID}}">
			<button type="submit" class="btn-block"><i class="fa fa-ban"></i></button>
		</form>
	</div>
</li>