<li class="a-chat chat-{{ID}} lastmsg-{{LASTMSG}}{{CLASS}} deletable">
	<a href="#" class="chat-link" data-id="{{ID}}">{{NAME}}</a>
	<form action="ajax.php" method="post" class="confirmable delete-parent unload-chat">
		<input type="hidden" name="action" value="leaveChat">
		<input type="hidden" name="chat_id" value="{{ID}}">
		<button type="submit" class="btn-block"><i class="fa fa-ban"></i></button>
	</form>
	<ul class="members-list">
		<li class="empty-member" style="display: none"><strong class="name"></strong><span class="email"></span></li>
		<li class="add-member">
			<form action="ajax.php" method="post" class="add-member-form">
				<input type="hidden" name="action" value="addMember">
				<input type="hidden" name="chat_id" value="{{ID}}">
				<select class="candidates-list" name="contact_id">
					<option value="0">Add a friend...</option>
				</select>
				<button type="submit" class="btn btn-add-member"><i class="fa fa-plus"></i></button>
			</form>
		</li>
	</ul>
</li>