<style type="text/css">
input,
#login-form h2,
#login-form .tabs .tab,
#login-form .form-elem,
#login-form a.btn-reset,
#recover-form h2,
#recover-form .form-elem,
#options,
#error,
#menu .edit-profile h2,
#menu .edit-profile .form-elem,
#sidebar .tabs .tab,
#chats .a-chat a,
#chats .a-chat .btn-block,
#chats .a-chat .members-list,
#friends .a-friend,
#friends .a-friend .btn-block,
#friends #create-chat-form input[type="submit"],
#requests .a-request,
#messages .messages-list .a-message,
#messages #send-message-form .btn-send {
	color: {{MAIN}};
}

input[type="submit"], .btn,
#alert-msg .close,
#menu,
#friends #request-friend-form input[type="submit"],
#friends #create-chat-form,
#messages .messages-list .a-message.nuevo .fecha::after,
#messages #send-message-form {
	background-color: {{MAIN}};
}

input[type="submit"], .btn,
#login-form .btn,
#menu .edit-profile::after,
#menu .edit-profile .btn-upload,
#sidebar .tabs > li .tab.new:not(.active)::after,
#chats .a-chat.unread a::after,
#chats .a-chat .members-list .btn-add-member {
	border-color: {{MAIN}};
}

input[disabled],
#content.main,
#login-form,
#recover-form,
#options,
#error,
#alert-msg .dialog,
#chats .a-chat.active,
#chats .a-chat a:hover,
#friends .a-friend:hover,
#friends #create-chat-form input[type="submit"],
#requests .a-request:hover,
#messages #send-message-form .btn-send {
	background-color: {{BACKGROUND}};
}

hr, input, .btn,
#login-form .tabs .tab,
#sidebar,
#sidebar .tabs .tab,
#chats .a-chat,
#chats .a-chat.active .members-list,
#chats .a-chat .members-list .candidates-list,
#friends #request-friend-form input[type="submit"],
#friends .a-friend,
#friends #create-chat-form input[type="submit"],
#requests .a-request,
#messages .members-list,
#messages #send-message-form .btn-send {
	border-color: {{BORDER}};
}
</style>