<div id="options">
	<form action="ajax.php" method="post" class="install-form">
		<h2>Install</h2>
		<hr>
		<input type="hidden" name="action" value="installApp">
		<ul class="options-list">
			<li class="a-option">
				<label><span>Admin e-mail</span><input type="email" name="email"></label>
			</li>
			<li class="a-option">
				<label><span>Admin Password</span><input type="password" name="password"></label>
			</li>
			<li class="a-option">
				<label><span>Admin Password (repeat)</span><input type="password" name="password_rep"></label>
			</li>
			<li><hr></li>
			<li class="a-option">
				<label><span>Database host</span><input type="text" name="host"></label>
			</li>
			<li class="a-option">
				<label><span>Database name</span><input type="text" name="name"></label>
			</li>
			<li class="a-option">
				<label><span>Database user</span><input type="text" name="user"></label>
			</li>
			<li class="a-option">
				<label><span>Database password</span><input type="text" name="pass"></label>
			</li>
		</ul>
		<hr>
		<input type="submit" value="Install">
	</form>
</div>