<div id="options">
	<form action="ajax.php" method="post" class="install-form">
		<h2>Install</h2>
		<hr>
		<input type="hidden" name="action" value="installApp">
		<ul class="options-list">
			<li class="a-option">
				<label><span>Admin e-mail</span><input type="email" name="usr[email]"></label>
			</li>
			<li class="a-option">
				<label><span>Admin Password</span><input type="password" name="usr[password]"></label>
			</li>
			<li class="a-option">
				<label><span>Admin Password (repeat)</span><input type="password" name="usr[password_rep]"></label>
			</li>
			<li><hr></li>
			<li class="a-option">
				<label><span>Database host</span><input type="text" name="db[host]"></label>
			</li>
			<li class="a-option">
				<label><span>Database name</span><input type="text" name="db[name]"></label>
			</li>
			<li class="a-option">
				<label><span>Database user</span><input type="text" name="db[user]"></label>
			</li>
			<li class="a-option">
				<label><span>Database password</span><input type="text" name="db[pass]"></label>
			</li>
		</ul>
		<hr>
		<input type="submit" value="Install">
	</form>
</div>