<div id="messages">
	<ul class="members-list">
		<li class="empty-member" style="display: none">
			<img src="" class="avatar"></img>
		</li>
	</ul>
	<ul class="messages-list">
		<li class="empty-message">
			<div class="autor"></div>
			<a class="attachment" style="display: none" download><i class="fa fa-paperclip"></i><img class="preview"/><div class="reserve"></div></a>
			<p class="contenido"></p>
			<div class="fecha"></div>
		</li>
	</ul>
	<form action="ajax.php" method="post" id="send-message-form" class="empty-on-submit" enctype="multipart/form-data">
		<input type="hidden" name="action" value="sendMessage">
		<input type="hidden" name="chat_id" value="0">
		<input type="hidden" name="last_read" value="0">
		<a href="#" class="btn-upload empty" style="display: none"><i class="fa fa-paperclip"></i></a>
		<input type="file" name="attachment" style="display: none">
		<input type="text" name="mensaje" placeholder="Write your message..." disabled><input type="submit" class="btn btn-send" value="Send" disabled>
	</form>
</div>