<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>DW2E Messaging App</title>
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	{{COLORS}}
	<script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
	<div id="content" class="{{CLASS}}">{{CONTENT}}</div>
</body>
</html>
