<li class="a-request deletable card d-flex align-items-center flex-row overflow-hidden p-2 mx-3 mb-2">
	<div class="datos text-break text-main flex-grow-1 p-1">
		<div class="name font-weight-bold">{{NAME}}</div>
		<div class="email">{{EMAIL}}</div>
	</div>
	<div class="buttons">
		<form action="ajax.php" method="post" class="delete-parent mb-2">
			<input type="hidden" name="action" value="acceptFriend">
			<input type="hidden" name="contact_id" value="{{ID}}">
			<input type="submit" class="btn btn-block btn-sm bg-main text-white btn-accept" value="{{TR:ACCEPT}}">
		</form>
		<form action="ajax.php" method="post" class="confirmable delete-parent">
			<input type="hidden" name="action" value="rejectFriend">
			<input type="hidden" name="contact_id" value="{{ID}}">
			<input type="submit" class="btn btn-block btn-sm bg-main text-white btn-decline" value="{{TR:DECLINE}}">
		</form>
	</div>
</li>