<div id="sidebar">
	<ul class="tabs">
		<li><a href="#" class="tab chats active" data-target="chats-menu">{{TR:CHATS}}</a>
		<li><a href="#" class="tab friends" data-target="friends-menu">{{TR:FRIENDS}}</a>
		<li><a href="#" class="tab requests{{NEWREQUESTS}}" data-target="requests-menu">{{TR:REQUESTS}}</a>
	</ul>
	<div id="chats" class="tab-content chats-menu">
		<ul class="chats-list">
			{{CHATS}}
			<li class="empty-chat deletable" style="display: none">
				<a href="#" class="chat-link"></a>
				<form action="ajax.php" method="post" class="confirmable delete-parent unload-chat">
					<input type="hidden" name="action" value="leaveChat">
					<input type="hidden" name="chat_id" value="">
					<button type="submit" class="btn-block"><i class="fa fa-ban"></i></button>
				</form>
				<ul class="members-list">
					<li class="empty-member" style="display: none"><strong class="name"></strong><span class="email"></span></li>
					<li class="add-member">
						<form action="ajax.php" method="post" class="add-member-form">
							<input type="hidden" name="action" value="addMember">
							<input type="hidden" name="chat_id" value="">
							<select class="candidates-list" name="contact_id">
								<option value="0">{{TR:ADDAFRIEND}}</option>
							</select>
							<button type="submit" class="btn btn-add-member"><i class="fa fa-plus"></i></button>
						</form>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="friends" class="tab-content friends-menu" style="display: none">
		<form action="ajax.php" method="post" id="request-friend-form" class="empty-on-submit">
			<input type="hidden" name="action" value="requestFriend">
			<input type="email" name="email" placeholder="{{TR:ADDFRIENDS}}">
			<input type="submit" value="{{TR:ADD}}">
		</form>
		<ul class="friends-list">{{FRIENDS}}</ul>
		<form action="ajax.php" method="post" id="create-chat-form" class="empty-on-submit">
			<input type="hidden" name="action" value="createChat">
			<input type="text" name="name" placeholder="{{TR:CHATNAME}}" required>
			<input type="submit" value="{{TR:NEWCHAT}}">
		</form>
		<li class="empty-friend deletable" style="display: none">
			<div class="avatar"><img src=""></div>
			<div class="datos">
				<div class="name"></div>
				<div class="email"></div>
			</div>
			<div class="buttons">
				<label class="custom-checkbox">
					<input type="checkbox" form="create-chat-form" name="members[]" value="">
					<span class="checked"><i class="fa fa-check-square-o"></i></span>
					<span class="unchecked"><i class="fa fa-square-o"></i></span>
				</label>
				<form action="ajax.php" method="post" class="confirmable delete-parent">
					<input type="hidden" name="action" value="blockFriend">
					<input type="hidden" name="contact_id" value="">
					<button type="submit" class="btn-block"><i class="fa fa-ban"></i></button>
				</form>
			</div>
		</li>
	</div>
	<div id="requests" class="tab-content requests-menu" style="display: none">
		<ul class="requests-list">{{REQUESTS}}</ul>
		<li class="empty-request deletable" style="display: none">
			<div class="datos">
				<div class="name"></div>
				<div class="email"></div>
			</div>
			<div class="buttons">
				<form action="ajax.php" method="post" class="delete-parent">
					<input type="hidden" name="action" value="acceptFriend">
					<input type="hidden" name="contact_id" value="">
					<input type="submit" class="btn btn-accept" value="{{TR:ACCEPT}}">
				</form>
				<form action="ajax.php" method="post" class="confirmable delete-parent">
					<input type="hidden" name="action" value="rejectFriend">
					<input type="hidden" name="contact_id" value="">
					<input type="submit" class="btn btn-decline" value="{{TR:DECLINE}}">
				</form>
			</div>
		</li>
	</div>
</div>