<div id="sidebar">
	<ul class="tabs">
		<li><a href="#" class="tab active" data-target="chats-menu">Chats</a></li>
		<li><a href="#" class="tab" data-target="friends-menu">Friends</a></li>
		<li><a href="#" class="tab" data-target="requests-menu">Requests</a></li>
	</ul>
	<div class="tab-content chats-menu">
		<ul class="chats-list">{{CHATS}}</ul>
	</div>
	<div class="tab-content friends-menu" style="display: none">
		<form action="ajax.php" method="post">
			<input type="hidden" name="action" value="requestFriend">
			<input type="text" name="email" placeholder="Friend's e-mail...">
			<input type="submit" value="Add">
		</form>
		<ul class="friends-list">{{AMIGOS}}</ul>
	</div>
	<div class="tab-content requests-menu" style="display: none">
		<ul class="requests-list">{{PENDIENTES}}</ul>
	</div>
</div>