<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{TITULO}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;padding:0;">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:1px solid #1b377a;font-family:Verdana,sans-serif;">
		<tr>
			<td style="padding:20px 20px 20px 20px;color:#1b377a;text-align:center;font-size:24px;">
				<h3>{{TITULO}}</h3>
			</td>
		</tr>
		<tr>
			<td style="padding:20px 20px 20px 20px;background:#1b377a;text-align:center;font-size:16px;color:#FFFFFF;">{{CONTENIDO}}</td>
		</tr>
	</table>
</body>
</html>